body {
    font-family: Arial;
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
    padding: 20px;
}


h1, h2 {
    color: black;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}


p, a, div {
    font-size: 14px;
}


a {
    color: blue;
    text-decoration: none;
}
.card {
    background: white;
    border: 1px solid black;
    width: 350px;
    margin: 20px auto;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 200px;
}


.article {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.main-img {
    width: 400px;
}
